.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  flex-wrap: wrap;
}
.form__inputs input {
  margin: 8px;
  padding: 4px;
  border-radius: 6px;
  border-style: groove;
}
.form__buttoms {
}
.form__buttoms button {
  margin: 8px;
  padding: 8px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 900;
}

.form__create-buttom {
  background-color: #2acb2a;
  border-color: darkgreen;
}
.form__delete-buttom {
  background-color: rgb(255, 0, 0);
  border-color: darkred;
}
.form__update-buttom {
  background-color: rgb(190 79 229);
  border-color: darkslateblue;
}
