{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": "2.x"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["babel-plugin-styled-components","@babel/plugin-syntax-dynamic-import"],
  
}
